<h1><%= current_user.username %>'s Dashboard</h1>
<br>
<!-- Display flash[:notice] if present -->
<% if flash.has?(:notice) %>
<div class="alert alert-dismissible alert-success animated fadeInDown">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p><%= flash[:notice] %></p>
  <!-- <p>From this page you can create, edit, and delete your xsURL's.</p>
  <p>Go on... Create your first one below.</p> -->
</div>
<% end %>

<form class="form-horizontal" action="/links/new" method="post">
  <fieldset>
    <legend>Create a new link</legend>
    <div class="form-group">
      <label for="new_link" class="col-sm-1 control-label">Link</label>
      <div class="col-xs-12 col-sm-8">
        <input type="url" class="form-control" name= "url" id="new_link" placeholder="Enter URL to shrink" autofocus required>
      </div>
    </div>
    <div class="form-group">
      <label for="site_name" class="col-sm-1 control-label">Name</label>
      <div class="col-xs-8">
        <input type="text" class="form-control" name= "site_name" id="site_name" placeholder="Name your link (optional)">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-2 col-sm-offset-1">
        <button type="reset" class="btn btn-default">Clear</button>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </fieldset>
</form>
<br><br>

<!-- Display Created Links -->
<% if !current_user.links.empty? %>
<h3>Your created links are below:</h3>
<hr>
<ol>
  <% current_user.links.reverse.each do |link| %>
  <div class="row">
    <h4><%= link.site_name %></h4>
  </div>
  <div class="row">
    <li class="well well-sm col-sm-6">
      <a href="/<%= link.random_hex_string %>" id="link-id-<%= link.id %>"><%= link.short_url %></a>
    </li>
    <div class="form-group col-sm-4" style="display: inline;">
      <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
      <button type="button" class="btn btn-success" data-clipboard-target="#link-id-<%= link.id %>">Copy to Clipboard</button>

      <a href="/links/<%= link.id %>/edit" style="padding-left: 5px"><button type="submit" class="btn btn-warning">Edit</button></a>

      <form action="/links/<%= link.id %>/delete" method="post" style="display: inline-block">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
  </br>
  <% end %>
</ol>
<% end %>

<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Share your link!</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal col-sm-12">
          <div class="form-group"><label>xsURL</label><input class="form-control required" data-placement="top" data-trigger="manual" type="text" value=""disabled></div>
          <div class="form-group"><label>E-Mail</label><input class="form-control email" placeholder="Enter an email address" data-placement="top" data-trigger="manual" data-content="Must be a valid e-mail address (user@gmail.com)" type="email" name="email" autofocus></div>
          <div class="form-group"><label>Description</label><input class="form-control phone" placeholder="Description" data-placement="top" data-trigger="manual" type="text"></div>
          <div class="form-group"><button type="submit" class="btn btn-success pull-right">Send It!</button> <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; The form is not valid. </p></div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- JavaScript for Clipboard.js | Copy to Clipboard -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js"></script>
<script>
  var clipboard = new Clipboard('.btn');
  clipboard.on('success', function(e) {
    console.log(e);
  });
  clipboard.on('error', function(e) {
    console.log(e);
  });
</script>
